
.slide-in {
  transition: transform 0.3s ease-in-out;
  animation: slideIn 0.3s ease-in-out;
}

.slide-out {
  transform: translateX(100%);
}


@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
